body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

/* .container {
    max-width: 1440px;
    width: 100%;
} */

.faq-card {
    /* margin: 0 auto;
    max-width: 920px;
    width: 100%; */
    background: #ffffff;
    border-radius: 20px;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 5px 22px -7px #2d3248; 
    box-shadow: 2px 5px 22px -7px #2d3248;
    min-height: 550px;
    display: flex;
}

.faq-card-left, .faq-card-right {
    flex: 1;
}

.faq-card-left {
    position: relative;
    margin-right: 20px;
    overflow: hidden;
}


.faq-card-right {
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.svg-pattern {
    width: 200%;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(45%);
    z-index: -1;
}

.svg-pattern-woman {
    width: 120%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.svg-box {
    position: absolute;
    width: 19%;
    top: 43%;
    z-index: 1000;
    left: -10%;

}

.faq-section {
    width: 85%;
}

.faq-section-q {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question {
    border-bottom: 1px solid hsl(240, 5%, 91%);

    color: hsl(237, 12%, 33%);
}

.faq-section-q h3 {
    font-weight: 400;  
    font-size: 14px;
    margin-bottom: 0;
}

.faq-section-q:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.faq-section-q img {
    width: 13px;
    transition: all .3s;
}

.faq-answer {
    /* margin-top: 0; */
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.active {
    font-weight: 700 !important;
}

.rotate {
    transform: rotate(180deg);
}

.display {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

.svg-pattern-woman-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.svg-pattern-mobile {
    display: none;
    position: absolute;
    left: 53%;
    transform: translateX(-50%);
    
}


/* MEDIA QUERY */

@media (max-width: 1150px) {
    .faq-card {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .faq-card {
        width: 90%;
    }
}

/* MOBILE */

@media (max-width: 550px) {
    .faq-card {
        flex-direction: column;
    }
    .svg-box, .svg-pattern, .svg-pattern-woman {
        display: none;
    }
    .faq-section h1 {
        text-align: center;
    }
    .svg-pattern-woman-mobile {
        display: block;
    }
    .svg-pattern-mobile {
        display: block;
    }
    .faq-card-left {
        overflow: initial
    }
}

